<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
    <title>Base page</title>
    {% if jquery is defined %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% endif %}
</head>
<body>
    <div id="header">
        <h2>Running app</h2>
    </div>
    <h2>{{ route_name }}</h2>
    <div id="menuRoutes">
        {% for route in routes %}
           <span><a href="/dashboard?route={{ route['name'] }}">{{route["description"]}}</a></span>
        {% endfor %}
    </div>
    <div id="menu">
        {% if route_name is defined %}
          <span><a href="/date?route={{ route_name }}">Trainings</a></span>
          <span><a href="/section?route={{ route_name }}">Sections</a></span>
          <span><a href="/aggregation?route={{ route_name }}">Aggregations</a></span>
          <span><a href="/compare?route={{ route_name }}">Compare</a></span>
          <span><a href="/mark?route={{ route_name }}">Mark</a></span>
          <span><a href="/aggregationCombine?route={{ route_name }}">Aggregations combine</a></span>
        {% endif %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
    </div>
</body>
</html>